     <br>
      <br>
      <br>
<div id="footer">
  <nav class="navbar navbar-inverse navbar-static-bottom" style="width: 100%; height:100%; margin-bottom:0px;"role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h4 style="color:#8a731c">THE HOTEL</h4>
          <small>OWNER & STAFF</small>
          <small>AWARDS</small>
          <small>PRESS RELEASES</small>
          <small>MEDIA CENTRE</small>
          <small>GIVING BACK</small>
        </div>
        <div class="col-xs-6">
          <h4 style="color:#8a731c">RESERVATIONS</h4>
          <small>HOTEL ROOMS</small>
          <small>APARTMENT ROOMS</small>
          <small>LONG TERM</small>
          <small>SPECIALS</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h4 style="color:#8a731c">HIPPOPOTAMUS</h4>
          <small>RESTAURANT & BAR</small>
        </div>
        <div class="col-xs-6">
          <h4 style="color:#8a731c">EVENTS</h4>
          <small>ROOMS & FACILITIES</small>
          <small>MEETINGS</small>
          <small>WEDDINGS</small>
          <small>CHRISTMAS CELEBRATIONS</small>
          <small>WELLINGTON EVENTS</small>
        </div>
      </div>
      <br>
      <div class="row" align='center'>
        <small class="navbar-text">
          <i>
            Copyright © Museum Art Hotel 2014

          </i>
        </small>
      </div>
    </div>
  </nav>
</div>
