     <br>
      <br>
      <br>
<div id="footer">
  <nav class="navbar navbar-inverse navbar-static-bottom" style="width: 100%; height:100%; margin-bottom:0px;"role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h4 style="color:#8a731c">THE HOTEL</h4>
          <p><a href="http://www.museumhotel.co.nz/owner-and-staff/"><small>OWNER & STAFF</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/awards/"><small>AWARDS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/press-releasses/"><small>PRESS RELEASES</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/media-centre/"><small>MEDIA CENTRE</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/giving-back/"><small>GIVING BACK</small></a></p>
        </div>
        <div class="col-xs-6">
          <h4 style="color:#8a731c">RESERVATIONS</h4>
          <p><a href="http://www.museumhotel.co.nz/hotel-guest-rooms/"><small>HOTEL ROOMS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/apartment-guest-rooms/"><small>APARTMENT ROOMS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/long-term-accommodation/"><small>LONG TERM</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/hotel-specials/"><small>SPECIALS</small></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h4 style="color:#8a731c">EVENTS</h4>
          <p><a href="http://www.museumhotel.co.nz/"><small>ROOMS & FACILITIES</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/meetings-and-events/functions-and-events-pack/"><small>MEETINGS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/meetings-and-events/wedding-packages/"><small>WEDDINGS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/meetings-and-events/christmas-celebrations/"><small>CHRISTMAS CELEBRATIONS</small></a></p>
          <p><a href="http://www.museumhotel.co.nz/wellington-events/"><small>WELLINGTON EVENTS</small></a></p>
        </div>
        <div class="col-xs-6">
          <h4 style="color:#8a731c">HIPPOPOTAMUS</h4>
          <p><a href="http://www.hippopotamus.co.nz/"><small>RESTAURANT & BAR</small></a></p></div>
        </div>
      </div>
      <br>
      <div class="row" align='center'>
        <small class="navbar-text">
          <i>
            Copyright © Museum Art Hotel 2014

          </i>
        </small>
      </div>
    </div>
  </nav>
</div>
