<div class="row rooms"  >
  <h3 class="gold">FEATURED SUITES</h3>
  <hr class="gold">
  <div class="col-xs-4" align="left">
    <%= image_tag("the-harbour-suit.jpeg", width: "100%", data: {offset: "0%", expandable: 'true'}, class: "img")%>
    <a href="http://www.museumhotel.co.nz/hotel-guest-rooms/classic-room/"><h5 class="gold">KING DELUXE</h5></a>
  </div>
  <div class="col-xs-4" align="center">
    <%= image_tag("classic_deluxe.jpg", width: "100%", data: {offset: "100%", expandable: 'true'})%>
    <a href="http://www.museumhotel.co.nz/apartment-guest-rooms/the-wellington-suite/"><h5 class="gold">THE WELLINGTON SUITE</h5></a>
  </div>
  <div class="col-xs-4" align="right">
    <%= image_tag("exec-harbour-view.jpeg", width: "100%", data: {offset: "200%", expandable: 'true'})%>
    <a href="http://www.museumhotel.co.nz/hotel-guest-rooms/classic-deluxe-room/"><h5 class="gold">CLASSIC DELUXE</h5></a>
  </div>
  <hr class="gold">
</div>
