<div class="row">
  <div class="col-xs-12">
    <div align="center">
      <%= image_tag "sunaffair.png", width: "70%"%></div>
    <h1>SUNDAY AFFAIR PACKAGE</h1>
    <p>Enjoy a night in the well-appointed Premier Studio apartment room with super king sized bed. Make the most of our large bath tubs for two with an aromatic Museum Art Hotel bath bomb. Retreat to your room for the night and create your own delicious Museum Art Hotel espresso martini for two.
    </p>
    <br>
    <ul  style="padding-left:40px">
      <li style="list-style-type: disc;"><p>Premier Studio - $179</p></li>
    </ul>
    <br>
    <p>*Package only available on Sunday</p>
    <p>*Valid only on the 12th December 2014 to 27th January 2015 *Excluding event dates</p>
        <div align="right"><a href="http://aumuse.webhotel.microsapdc.com/"><h4><u>BOOK NOW</u></h4></a></div>
  </div>
  <div class="col-xs-12">
    <hr class="gold">
    <br>
  </div>
  <div class="col-xs-12">
    <div align="center">
      <%= image_tag "escape.png", width: "70%"%></div>
    <h1>ESCAPE WITH US PACKAGE</h1>
    <p>Escape over the weekend at Museum Art Hotel with the Escape with us package.  Enjoy a full buffet breakfast for two at the Hippopotamus Restaurant and Bar. Bubbly on arrival, Valet parking and a late check out of 12pm 
    </p>
    <br>
    <ul  style="padding-left:40px">
      <li style="list-style-type: disc;"><p>Premier Suite -$305</p></li>
      <li style="list-style-type: disc;"><p>Premier Studio - $295</p></li>
      <li style="list-style-type: disc;"><p>Harbour Room- $285</p></li>
      <li style="list-style-type: disc;"><p>Classic Delux - $269</p></li>
    </ul>
    <br>
    <p>*Weekend Package available Friday, Saturday, Sunday and Monday.</p>
    <p>*Valid only on the 12th December 2014 to 27th January 2015 *Excluding event dates</p>
    <div align="right"><a href="http://aumuse.webhotel.microsapdc.com/"><h4><u>BOOK NOW</u></h4></a></div>
  </div>
</div>
